@charset "UTF-8";

:root{
  --FontFamily:'Inter', sans-serif;
  --FontSizeTitulosMobile: clamp(1.5rem, 4.5vw, 2rem);
  --FontSizeH3Mobile: clamp(1.2rem, 5vw, 2rem); 
  --FontSizeTextosMobile: clamp(0.9rem, 2.5vw, 1.1rem);
  --FontSizeTitulosDesktop: clamp(2rem, 3.5vw, 2.8rem); 
  --FontSizeTextosDesktop: clamp(1.1rem, 2vw, 1.25rem); 
  --LineHeightTextos: 1.5;
  --ButtonsMenuMobile: clamp(0.85rem, 2vw, 1rem);
  --ButtonsMenuDeskTop: clamp(1rem, 1.5vw, 1.125rem);

  --HeaderHeight: 95px;
}

/* ================================= */
/* 📱 SMALL DEVICES (PHONES) */
/* ================================= */

/* 📱 Smartphones pequenos (iPhone SE, Galaxy S8, etc.) */
@media (max-width: 320px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Header fixo no topo */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
    z-index: 2000;
  }

   header h1 {
    font-size: var(--FontSizeTitulosMobile);
   }

  #theme-toggle {
    font-size: var(--ButtonsMenuMobile);
   }

  /* Aside abaixo do header */
  aside {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    padding: .1rem;
    box-shadow: none;
  }

  .about-me h3 {
    font-size: var(--FontSizeH3Mobile);
    margin-top: .5rem;
  }

  .about-me p{
    font-size: var(--FontSizeTextosMobile);
  }

  .my-links ul {
    font-size: var(--ButtonsMenuMobile);
    margin: 1rem;
  }

  .btn, .social-links .social-item{
    width:32px; height:32px;
    font-size: var(--ButtonsMenuMobile);
  }

  /* Main abaixo do aside */
  main#principal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 57vh;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    padding: 0 1rem;
  }

  main#principal section h2 {
    font-size: var(--FontSizeH3Mobile);
    margin: 1rem;
  }

  main#principal > div button {
    display: none;
  }

  .projetosSite {
    max-width: 240px;
  }

  .card-content  ul {
    gap: .3rem;
    font-size: var(--FontSizeTextosMobile);
  }

  .card-content ul li {
    width: 75px; height: 40px;
    font-size: var(--FontSizeTextosMobile);
  }

  .projetosSite a {
    width: 70px; height: 35px;
    font-size: var(--FontSizeTextosMobile);
  }

  .worksWiew {
    max-width: 400px; padding: .5rem 1rem;
    margin: 1.3rem auto;
  }

  .work-btn {
    padding: 0.3rem 0.5rem;
    
  }

  .card-works-content {
    font-size: var(--FontSizeTextosMobile);
  }


  .bloco {
     width: 20px; height: 20px; border-radius: 4px;
  }


 nav {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: auto;    
    left: 0;        
    width: 100%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

  footer {
    display: none;
  }


}


/* 📱 Smartphones médios (iPhone X, Galaxy S20, Pixel 5) */
@media (min-width: 321px) and (max-width: 480px){

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Header fixo no topo */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
    z-index: 2000;
  }

   header h1 {
    font-size: var(--FontSizeTitulosMobile);
   }

  #theme-toggle {
    font-size: var(--ButtonsMenuMobile);
   }

  /* Aside abaixo do header */
  aside {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    padding: .1rem;
    box-shadow: none;
  }

  .about-me h3 {
    font-size: var(--FontSizeH3Mobile);
    margin-top: .5rem;
  }

  .about-me p{
    font-size: var(--FontSizeTextosMobile);
  }

  .my-links ul {
    font-size: var(--ButtonsMenuMobile);
    margin: 1rem;
  }

  .btn, .social-links .social-item{
    width:32px; height:32px;
    font-size: var(--ButtonsMenuMobile);
  }

  /* Main abaixo do aside */
  main#principal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 62vh;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    padding: 0 1rem;
  }

  main#principal section h2 {
    font-size: var(--FontSizeH3Mobile);
    margin: 1rem;
  }

  main#principal > div button {
    display: none;
  }

  .projetosSite {
    max-width: 240px;
  }

  .card-content  ul {
    gap: .3rem;
    font-size: var(--FontSizeTextosMobile);
  }

  .card-content ul li {
    width: 75px; height: 40px;
    font-size: var(--FontSizeTextosMobile);
  }

  .projetosSite a {
    width: 70px; height: 35px;
    font-size: var(--FontSizeTextosMobile);
  }

  .worksWiew {
    max-width: 400px; padding: .5rem 1rem;
    margin: 1.3rem auto;
  }

  .work-btn {
    padding: 0.3rem 0.5rem;
    
  }

  .card-works-content {
    font-size: var(--FontSizeTextosMobile);
  }


  .bloco {
     width: 20px; height: 20px; border-radius: 4px;
  }

  


 nav {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: auto;    
    left: 0;        
    width: 100%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

  footer {
    display: none;
  }
}

/* ================================= */
/* 📟 MEDIUM DEVICES (TABLETS) */
/* ================================= */

/* 📟 Tablets pequenos (iPad Mini, Kindle Fire, etc.) */
@media (min-width: 481px) and (max-width: 768px){

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Header fixo no topo */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
    z-index: 2000;
  }

   header h1 {
    font-size: var(--FontSizeTitulosMobile);
   }

  #theme-toggle {
    font-size: var(--ButtonsMenuMobile);
   }

  /* Aside abaixo do header */
  aside {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    padding: .1rem;
    box-shadow: none;
  }

  .about-me h3 {
    font-size: var(--FontSizeH3Mobile);
    margin-top: 1rem;
  }

  .about-me p{
    font-size: var(--FontSizeTextosMobile);
  }

  .my-links ul {
    font-size: var(--ButtonsMenuMobile);
    margin: 1rem;
  }

  .btn, .social-links .social-item{
    width:32px; height:32px;
    font-size: var(--ButtonsMenuMobile);
  }

  /* Main abaixo do aside */
  main#principal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 67vh;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    padding: 0 1rem;
  }

  main#principal section h2 {
    font-size: var(--FontSizeH3Mobile);
    margin: 1rem;
  }

  main#principal > div button {
    display: none;
  }

  .projetosSite {
    max-width: 240px;
  }

  .card-content  ul {
    gap: .3rem;
    font-size: var(--FontSizeTextosMobile);
  }

  .card-content ul li {
    width: 75px; height: 40px;
    font-size: var(--FontSizeTextosMobile);
  }

  .projetosSite a {
    width: 70px; height: 35px;
    font-size: var(--FontSizeTextosMobile);
  }

  .worksWiew {
    max-width: 400px; padding: .5rem 1rem;
    margin: 1.3rem auto;
  }

  .work-btn {
    padding: 0.3rem 0.5rem;
    
  }

  .card-works-content {
    font-size: var(--FontSizeTextosMobile);
  }


  .bloco {
     width: 30px; height: 30px; border-radius: 6px;
  }

 nav {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: auto;    
    left: 0;        
    width: 100%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

  footer {
    display: none;
  }
}
/* iPad Air, iPad Pro 9.7   */
@media (min-width: 769px) and (max-width: 1025px) {

  header{
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }

  header h1 {
    font-size: var(--FontSizeTitulosMobile);
   }

  #theme-toggle {
    font-size: var(--ButtonsMenuMobile);
   }

  /* Aside abaixo do header */
  aside {
    position: fixed; left:0; top:3rem; height:100vh; width:300px;
    padding: 3rem .1rem;
  }

  .about-me h3 {
    margin-top: 14rem;
  }

  .my-links ul {
    margin-bottom: 25rem;
  }

  main#principal {
  position: absolute; 
  top: 1.5rem;        /* começa abaixo do nav */
  left: 300px;        /* respeita o aside fixo */
  right: 0; 
  bottom: .2rem;     /* deixa espaço pro footer */
  min-height: auto;
  overflow-y: auto;   /* rolagem só no main */
  padding: 1rem;
  }


  nav {
    position: fixed;
    bottom: auto;
    top: 4.8rem;      
    right: 0;    
    left: auto;        
    width: 61%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

   footer {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: 0;    
    left: auto;        
    width: 61%;    
    text-align: center;
    padding: 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
  }
  
}


/* 💻 LARGE DEVICES (LAPTOPS & DESKTOPS) */
/* ================================= */

/* 💻 Notebooks pequenos (MacBook Air, Surface Pro) */
@media (min-width: 1025px) and (max-width: 1366px){

  header h1{
    font-size: calc(var(--FontSizeTitulosDesktop) * 1.1);
  }

  #theme-toggle{
    font-size: var(--ButtonsMenuDeskTop);
  }

  .about-me h3{
    font-size: var(--FontSizeH3Mobile);
  }

  .about-me p{
    font-size: var(--FontSizeTextosDesktop);
  }

  .btn, .btn-projeto{
    font-size: var(--ButtonsMenuDeskTop);
  }

  nav a{
    font-size: var(--ButtonsMenuDeskTop);
  }

  .projetosSite, .worksWiew{
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .card-content ul li{
    font-size: var(--FontSizeTextosDesktop);
  }

  footer p{
    font-size: var(--FontSizeTextosDesktop);
  }

  .nav-sections button{
    font-size: var(--ButtonsMenuDeskTop);
  }
}

/* 🖥️ Monitores Full HD (Desktops padrão, iMac 21") */
@media (min-width: 1367px) and (max-width: 1920px){
  header h1{
    font-size: calc(var(--FontSizeTitulosDesktop) * 1.2);
  }

  #theme-toggle{
    font-size: var(--ButtonsMenuDeskTop);
  }

  .about-me h3{
    font-size: calc(var(--FontSizeTitulosDesktop) * 1.2);
  }

  .about-me p{
    font-size: var(--FontSizeTextosDesktop);
  }

  .btn, .btn-projeto{
    font-size: var(--ButtonsMenuDeskTop);
  }

  nav a{
    font-size: var(--ButtonsMenuDeskTop);
  }

  .projetosSite, .worksWiew{
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .card-content ul li{
    font-size: var(--FontSizeTextosDesktop);
  }

  footer p{
    font-size: var(--FontSizeTextosDesktop);
  }

  .nav-sections button{
    font-size: var(--ButtonsMenuDeskTop);
  }
}

/* 🖥️ Extra large screens (4K & 8K) */
@media (min-width: 1921px){
  header h1{
    font-size: calc(var(--FontSizeTitulosDesktop) * 1.3);
  }

  #theme-toggle{
    font-size: var(--ButtonsMenuDeskTop);
  }

  .about-me h3{
    font-size: calc(var(--FontSizeTitulosDesktop) * 1.3);
  }

  .about-me p{
    font-size: var(--FontSizeTextosDesktop);
  }

  .btn, .btn-projeto{
    font-size: var(--ButtonsMenuDeskTop);
  }

  nav a{
    font-size: var(--ButtonsMenuDeskTop);
  }

  .projetosSite, .worksWiew{
    flex-wrap: wrap;
    gap: 2rem;
  }

  .card-content ul li{
    font-size: var(--FontSizeTextosDesktop);
  }

  footer p{
    font-size: var(--FontSizeTextosDesktop);
  }

  .nav-sections button{
    font-size: var(--ButtonsMenuDeskTop);
  }
}
