@charset "UTF-8";

:root{
   
  /* Tipografia base */
  --fs-h1: clamp(2rem, 5vw, 3rem);
  --fs-h2: clamp(1.75rem, 4vw, 2.5rem);
  --fs-h3: clamp(1.25rem, 3vw, 2rem);
  --fs-body: clamp(1rem, 2.2vw, 1.25rem);
  --fs-small: clamp(0.85rem, 2vw, 1rem);
  --fs-btn: clamp(0.9rem, 2vw, 1.1rem);

  
}

/* 📱 SMALL DEVICES (PHONES) */

/* 📱 Smartphones pequenos (iPhone SE, Galaxy S8, etc.) */
@media (max-width: 320px) {

  body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

  /* Header fixo no topo */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    z-index: 2000;
  }

   header h1 {
    font-size: var(--fs-h3);
   }

  #theme-toggle {
    font-size: var(--fs-btn);
   }

  /* Aside abaixo do header */
  aside {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    box-shadow: none;
  }

  .about-me h3 {
    font-size: var(--fs-h3);
    margin-top: 1.5rem;
  }

  .about-me p{
    font-size: var(--fs-body);
  }

  .my-links ul {
    font-size: var(--fs-small);
    margin: 1rem;
  }

  .btn, .social-links .social-item{
    width:27px; height:27px;
    font-size: var(--fs-small);
  }

  /* Main abaixo do aside */
  main#principal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    padding: 0 ;
  }

  main#principal section h2 {
    font-size: var(--fs-h3);
    margin: 1rem;
  }

  .projetosSite {
    max-width: 270px;
  }

  .card-content  ul {
    font-size: var(--fs-small);
  }

  .card-content ul li {
    width: 75px; height: 40px;
  }

  .projetosSite a {
    width: 70px; height: 35px;
    
  }

  .worksWiew {
    max-width: 270px; padding: .5rem 0;
    margin: 1.2rem auto;
  }

  .work-btn {
    padding: 0.3rem 0.5rem;
    
  }

  .card-works-content {
    font-size: var(--fs-small);
  }


  .bloco {
     width: 20px; height: 20px; border-radius: 4px;
  }


 nav {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: auto;    
    left: 0;        
    width: 100%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

  footer {
    display: none;
  }


}


/* 📱 Smartphones médios (iPhone X, Galaxy S20, Pixel 5) */
@media (min-width: 321px) and (max-width: 480px){

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Header fixo no topo */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    justify-content: space-around;
    z-index: 2000;
  }

   header h1 {
    font-size: var(--fs-h3);
   }

  #theme-toggle {
    font-size: var(--fs-btn);
   }

  /* Aside abaixo do header */
  aside {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    box-shadow: none;
  }

  .about-me h3 {
    font-size: var(--fs-h3);
    margin-top: .5rem;
  }

  .about-me p{
    font-size: var(--fs-body);
  }

  .my-links ul {
    font-size: var(--fs-btn);
    margin: 1rem;
  }

  .btn, .social-links .social-item{
    width:28px; height:28px;
    font-size: var(--fs-btn);
  }

  /* Main abaixo do aside */
  main#principal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    min-height: 80vh;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    padding: 0 1rem;
  }

  main#principal section h2 {
    font-size: var(--fs-h3);
    margin: 1rem;
  }

  main#principal > div button {
    display: none;
  }

  .projetosSite {
    max-width: 240px;
  }

  .card-content  ul {
    gap: .3rem;
    font-size: var(--fs-small);
  }

  .card-content ul li {
    width: 75px; height: 40px;
    font-size: var(--fs-small);
  }

  .projetosSite a {
    width: 70px; height: 35px;
    font-size: var(--fs-small);
  }

  .worksWiew {
    max-width: 400px; padding: .5rem 1rem;
    margin: 1.3rem auto;
  }

  .work-btn {
    padding: 0.3rem 0.5rem;
    
  }

  .card-works-content {
    font-size: var(--fs-small);
  }


  .bloco {
     width: 20px; height: 20px; border-radius: 4px;
  }

  


 nav {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: auto;    
    left: 0;        
    width: 100%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

  footer {
    display: none;
  }
}

/* ================================= */
/* 📟 MEDIUM DEVICES (TABLETS) */
/* ================================= */

/* 📟 Tablets pequenos (iPad Mini, Kindle Fire, etc.) */
@media (min-width: 481px) and (max-width: 768px){

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Header fixo no topo */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    justify-content: space-around;
    z-index: 2000;
  }

   header h1 {
    font-size: var(--fs-h2);
   }

  #theme-toggle {
    font-size: var(--fs-h3);
   }

  /* Aside abaixo do header */
  aside {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    box-shadow: none;
  }

  .about-me h3 {
    font-size: var(--fs-h3);
    margin-top: 1.9rem;
  }

  .about-me p{
    font-size: var(--fs-body);
    text-align: center;
  }

  .my-links ul {
    margin: 1rem;
  }

  .btn, .social-links .social-item{
    width:34px; height:34px;
    font-size: var(--fs-body);
  }

  /* Main abaixo do aside */
  main#principal {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    min-height: 80vh;
    margin: 0;
    min-height: auto;
    border-radius: 0;
    padding: 0 1rem;
  }

  main#principal section h2 {
    font-size: var(--fs-h3);
    margin: 1rem;
  }

  main#principal > div button {
    display: none;
  }

  .projetosSite {
    max-width: 290px;
  }

  .card-content  ul {
    gap: .3rem;
    font-size: var(--fs-body);
  }

  .card-content ul li {
    width: 90px; height: 40px;
    font-size: var(--fs-body);
  }

  .projetosSite a {
    width: 70px; height: 35px;
    font-size: var(--fs-body);
  }

  .worksWiew {
    max-width: 400px; padding: .5rem 1rem;
    margin: 1.3rem auto;
  }

  .work-btn {
    padding: 0.3rem 0.5rem;
    
  }

  .card-works-content {
    font-size: var(--fs-body);
  }


  .bloco {
     width: 30px; height: 30px; border-radius: 6px;
  }

 nav {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: auto;    
    left: 0;        
    width: 100%;    
    height: auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    padding: .9rem 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
    z-index: 3000;
  }

  footer {
    display: none;
  }
}

/* iPad Air, iPad Pro 9.7   */
@media (min-width: 769px) and (max-width: 1024px) {


  @media (min-width: 769px) and (max-width: 1024px) {

 

  header h1 {
    font-size: var(--fs-h2);
  }

  #theme-toggle {
    font-size: var(--fs-h3);
  }

   header {
    box-shadow: none;
    justify-content: space-between;
    padding: 0 1.5rem;
  
  }

  nav {
    position: absolute; 
    top: 5rem;  
    left: 0;  
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .7rem 0;
    z-index: 3000;
  }



  /* Aside abaixo do header */
  aside {
    position: fixed; left:0; top:3rem; height:100vh; width:300px;
    padding: 3rem .1rem;
  }

  .about-me h3 {
    margin-top: 9rem;
  }

  .my-links ul a{
    margin-bottom: 9rem;
  }

  main#principal {
  position: absolute; 
  top: 7.5rem;        
  left: 300px;        
  right: 0; 
  bottom: 3.7rem;     
  min-height: auto;
  padding: 1rem;
  }

   footer {
    position: fixed;
    bottom: 0;
    top: auto;      
    right: 0;    
    left: auto;        
    width: 100%;    
    text-align: center;
    padding: 0 ;
    box-shadow: none;
  }
  
}



/* 💻 Notebooks pequenos (MacBook Air, Surface Pro) */
@media (min-width: 1025px) and (max-width: 1366px) {
  header h1 {
    font-size: var(--fs-h2);
  }

  main#principal { 
    padding-top: 1rem;
    flex: 1;    
    
  }
}

/* 🖥️ Monitores Full HD (Desktops padrão, iMac 21") */
@media (min-width: 1367px) and (max-width: 1920px) {

  header h1 {
    font-size: var(--fs-h2);
  }

  main#principal { 
    padding-top: 1rem;
    flex: 1;    
    
  }
}

/* 🖥️ Extra large screens (4K & 8K) */
@media (min-width: 1921px) {
  header h1 {
    font-size: var(--fs-h2);
  }

  main#principal { 
    padding-top: 1rem;
    flex: 1;    
    
  }
}
